@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', 'sans-serif';
    border-radius: 50px;
}

#converted{
    position: relative;
    left: 360px;
    top: -45px;
    color: #ededed;
    font-size: 25px;
    margin-left: 20px;
    
    
}

#form{
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 250px;
    left: 450px;
    font-size: 25px;
    font-weight: 600;
}

.scale {
    background-color: peachpuff;
    font-size: 20px;
    color: #081b29;
    font-weight: 500;
    cursor: pointer;
    padding: 10px;
    border-radius: 25px;
    height: 100%;
    width: none;
    margin-bottom: 30px;
    margin-left: 5px;
}

.units{
    background-color: peachpuff;
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
    border: none;
    padding: 10px;
    border-radius: 25px;
    height: 100%;
    margin-left: 10px;
}

.convert {
    background-color: peachpuff;
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
    padding: 10px;
    border-radius: 25px;
    transition: 0.2s;
    
}
.convert:hover{
    color: darkturquoise;
}


.base {
    background-color: peachpuff;
    font-size: 20px;
    padding: 8px;
    font-weight: 500;
    border-radius: 25px;
    margin-left: 20px;
}

body {
    background: #081b29;
    color: #ededed;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 25px 15%;
    background: peachpuff   ;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo {
    font-size: 40px;
    font-weight: 600;
    color: #081b29;
    text-decoration: none;
    transition: .3s;
    
}
.logo:hover {
    color: cyan;
}

.navber a {
    font-size: 20px;
    color: #081b29;
    text-decoration: none;
    font-weight: 600;
    margin-left: 30px;
    transition: .3s;
}
.navber a:hover,
.navber a.active {
    color: cyan;
}
